@import url('https://fonts.googleapis.com/css?family=Grenze|UnifrakturCook:700&display=swap');

body{
    background-color: rgb(250, 240, 232);
    font-family: 'Grenze', serif;
    overflow-x: hidden;
}
pre{
    display: none;
}
a{
    color: rgb(160, 24, 24);
}

p{
    margin: auto;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
    padding: 0;
        padding-top: 0;
        padding-right: 20vw;
        padding-bottom: 0;
        padding-left: 0;
    font-size: 1em;
    color: black;
    font-family: 'Grenze', serif;
    width: 40vw;
    max-width: 600px;
    line-height: 1.4em;
    letter-spacing: 1px;
}
p::first-letter {
    font-size: 2em;
    /* font-size: 4em;
    initial-letter: 1.5;
    float: left; */
}
p .firstwords{
    display: inline-block;
    width: auto;
    margin: 0;
    font-size: 1em;
}
p .firstwords::first-letter {
    font-family: 'UnifrakturCook', cursive;
    color: rgb(160, 24, 24);
    font-size: 6em;
    initial-letter: 3;
    text-transform: uppercase;
    -moz-animation: bugfix 0.001s;
}

@-moz-keyframes bugfix { from { padding-right: 1px ; } to { padding-right: 0; } }








p:nth-of-type(5n), p:nth-of-type(7n){
    padding-right: 0vw;
    padding-left: 20vw;
}





p:nth-child(3n), p:nth-child(6n){
    padding-right: 0vw;
    padding-left: 10vw;
}

p.center{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.rightalign{
    text-align: right;
}

p.copyright, p.publisher{
    width:30vw;
    margin: auto;
    padding: 0;
}

p.publisher{
    margin-top: 10vh;
    margin-bottom: 10vh;
}


h2{
    margin-top: 80vh;
    font-size: 4em;
    text-align: center;
    color:#560319;
}

h4{
    padding-bottom: 1em;
    border-bottom: 3px solid #560319;
    max-width: 600px;
    margin: auto;
    margin-bottom: 3em;
    font-size: 2em;
}


.footnote{
    font-family: 'Source Code Pro', monospace;
    font-size: .7em;
    width:15vw;
    position: absolute;
}

.footnote p{
    width: 100%;
    margin: 0;
    padding: 0;
}

.fnanchor{
    vertical-align: super;
    font-size: .7em;
}

.pagenum {
    position: absolute;
    right:0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    
}

.pagenum a{
    color: lightsalmon;
}

p.figcenter, div.figcenter{
    /*reset all padding and margin */
    padding: 0 !important;
    margin: 0;
    margin: 70px auto 70px auto !important;
}

.figcenter + .figcenter{
    margin-top: 20vh;
}

.figcenter{
    width: auto;
    background-color: rgb(250, 240, 232);
}

.figcenter img{
    /* this mixes the image with the background of its parent so the boxes are not white */
    mix-blend-mode: multiply;

    /* this centers the images */
    display: block;
    margin: 0 auto;

    /* limit our images to the width of their container */
    /* max-width: 100%;
    min-width: 100%;
    height: auto; */
}

a[name="chap2"] {
    
}



table[summary="table of contents"] tr:nth-of-type(3) td{
    /* text-align: center; */
    padding-left: 90px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-transform: lowercase;

    /* font-family: 'UnifrakturCook', cursive; */
    
    font-size: 2em;
}




.initial{
    display:none;
}



h1:first-of-type{
    /* font-family: 'UnifrakturCook', cursive; */
    text-align: center;
    font-size: 8em;
    line-height: 1em;
    color:#560319;
    margin-bottom: 26vh;
    margin-top: 26vh;
}




table{
    width: 30vw;
    margin:auto;
}


/* ----------- SMART PHONES ----------- */
@media only screen and (max-width: 800px) {
    p{
        margin: auto;
            margin-top: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-left: auto;
        padding: 0;
            padding-top: 0;
            padding-right: 0vw;
            padding-bottom: 0;
            padding-left: 0;
        font-size: 1.4em;
        color: black;
        font-family: 'Grenze', serif;
        width: 80vw;
        max-width: 600px;
        line-height: 1.7em;
        letter-spacing: 1px;
    }
    p::first-letter {
        font-size: 2.5em;
    }
    
    p:nth-of-type(5n), p:nth-of-type(6n){
        padding-right: 0vw;
        padding-left: 0vw;
        margin-bottom: 70px;
    }

    .footnote, .fnanchor{
        display: none;
    } 

    h4{
        width: 400px;
    }
}

/* ----------- TABLETS ----------- */
@media only screen and (min-width: 800px) and (max-width: 1280px) {
    p{
        margin: auto;
            margin-top: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-left: auto;
        padding: 0;
            padding-top: 0;
            padding-right: 30vw;
            padding-bottom: 0;
            padding-left: 0;
        font-size: 1.1em;
        color: black;
        font-family: 'Grenze', serif;
        width: 60vw;
        max-width: 600px;
        line-height: 1.4em;
        letter-spacing: 1px;
    }
    p::first-letter {
        font-size: 2.5em;
    }
    
    p:nth-of-type(5n), p:nth-of-type(6n){
        padding-right: 0vw;
        padding-left: 30vw;
        margin-bottom: 70px;
    }

    .footnote, .fnanchor{
        display: none;
    } 
}