@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap");

@font-face {
  font-family: "Format_1452";
  src: url("/webfonts/Format_1452.eot");
  src: url("/webfonts/Format_1452.eot?#iefix") format("embedded-opentype"),
    url("/webfonts/Format_1452.woff2") format("woff2"),
    url("/webfonts/Format_1452.woff") format("woff");
}

:root {
  --main-bg-color: #f5ede0;
  --main-yellow: #ffb41d;
  --main-blue: #5858a8;
  --main-red: #ca2727;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  font-family: "Alegreya", serif;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Format_1452", serif;
}

a {
  color: var(--main-red);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  /* mix-blend-mode: multiply; */
  mix-blend-mode: multiply;
  max-width: 100%;
  display: block;
  margin: auto;
}

body pre:first-child {
  display: none;
}

body pre:last-of-type {
  display: none;
}

pre {
}

table {
  position: fixed;
  right: 0;
  bottom: 2em;
  z-index: 5;
  font-size: 0.9em;
  line-height: 1.1em;
  opacity: 0.3;
  width: calc((100vw - 700px) / 2);
  font-family: "Format_1452", serif;
}

table:hover {
  opacity: 1;
}

hr {
  border: 10px solid var(--main-yellow);
  margin-bottom: 45vh;
  width: 65ch;
  margin-top: 0;
}

h1:first-of-type {
  padding-top: 40vh;
  background-color: var(--main-bg-color);
  text-transform: uppercase;
  z-index: 10;
  position: relative;
  margin: 0;
  text-align: center;
  box-shadow: 0 0 15px 15px var(--main-bg-color);
  font-size: 4rem;
}

h2:nth-last-of-type(1) {
  padding-bottom: 50vh;
  background-color: var(--main-bg-color);
  color: var(--main-red);
  z-index: 10;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 0 0 15px 15px var(--main-bg-color);
  font-size: 3rem;
}

h3 {
  text-transform: uppercase;
}

body > h3:first-of-type {
  color: var(--main-blue);
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 39vh;
  letter-spacing: 3px;
}

i {
}

p {
  max-width: 45vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9rem;
  line-height: 1.4rem;
  width: 500px;
  margin-block-end: 1.4rem;
  margin-block-start: 1.4rem;
}

p.center {
  text-align: center;
}

p big {
  font-size: 2em;
  line-height: 1.5em;
  font-family: "Format_1452", serif;
  font-variant-caps: small-caps;
}

p.poem {
  /* width: 45vw; */
  /* margin-left: 150px; */
  font-family: "Format_1452", serif;
  font-size: 1.2em;
  line-height: 1.7em;
  hanging-punctuation: first;
}

p.right {
  text-align: right;
  font-style: italic;
  font-family: "Format_1452", serif;
  font-size: 1.2rem;
  /* margin-left: 150px; */
  width: calc(((100vw - 700px) / 2) - 150px);
}

h3 + p {
  margin-top: -5em;
}

p.right:before {
  content: "--";
}

.chapter {
  margin-top: 70vh;
}

.fig {
  margin-top: 25vh;
  margin-bottom: 25vh;

  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.fig + p::first-letter {
  color: var(--main-blue);
  font-size: 6em;
  initial-letter: 5;
  text-transform: uppercase;
  -moz-animation: bugfix 0.001s;
}

.chapter h3 {
  background-color: var(--main-bg-color);
  color: var(--main-blue);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: calc(50vh - 1em);
  margin-left: 50px;
  padding-top: 1em;
  transform-origin: top left;
  transform: translate(calc((100vw - 800px) / 2), 1em) rotate(90deg);
  font-size: 25px;
  line-height: 1.2em;

  border-top: solid 5px var(--main-yellow);
}

/* Tablet Styles */
@media screen and (max-width: 1250px) and (min-width: 800px) {
  body {
    /* background-color: rgb(195, 196, 250); */
  }

  body > h3:first-of-type {
    /* position: relative;
    z-index: 10;
    background-color: var(--main-bg-color); */
    margin-left: auto;
    margin-right: 10vw;
    max-width: 58vw;
  }

  hr {
    position: relative;
    z-index: 10;
    background-color: var(--main-bg-color);
  }

  table {
    background-color: var(--main-bg-color);
    right: auto;
    left: 2vw;
    bottom: 0;
    padding-bottom: 2vw;
    padding-top: 2vw;
    width: 30vw;
    opacity: 1;
    box-shadow: -30px 0 15px 15px var(--main-bg-color);
  }

  p {
    margin-right: 10vw;
  }

  p.right {
    width: 45vw;
    margin-right: 10vw;
    margin-left: auto;
  }

  .fig {
    margin-right: 10vw;
    max-width: 58vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
  }

  .chapter h3 {
    transform: translate(3em, 1em) rotate(90deg);
  }
}

@media screen and (max-width: 800px) {
  body {
    /* background-color: rgb(130, 253, 146); */
  }
  table {
    background-color: var(--main-bg-color);
    position: relative;
    right: auto;
    left: auto;
    bottom: auto;
    top: auto;
    padding-bottom: 0;
    padding-top: 0;
    width: 50vw;
    margin: auto;
    opacity: 1;
    box-shadow: 0 0 15px 15px var(--main-bg-color);
  }

  .chapter h3 {
    padding-left: 1rem;
    transform: translate(40px) rotate(90deg);
    border: none;
    background-color: transparent;
  }

  p {
    margin-right: 10vw;
    width: 70vw;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  p.poem,
  p.right {
    font-size: 16px;
  }

  .fig {
    width: 80vw;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  p.center {
    margin-top: 25vh;
  }
}
